<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MonogoVendor_MonogoModule::management" sortOrder="100" title="City Weather"
             module="MonogoVendor_MonogoModule" parent="Magento_Backend::content_elements"
             resource="MonogoVendor_MonogoModule::management" translate="title"
             action="monogo/cityweather/index"/>
    </menu>
</config>
